#article {
    .ql-code-block-container {
        background-color: var(--codeblock-bg-light);
        padding: 15px;
        border-radius: 10px;
        white-space: pre-wrap;
        font-family: monospace;
    }

    .ql-code-block-container .ql-ui {
        display: none;
    }

    .ql-align-right {
        text-align: right;
    }

    a {
        text-decoration: inherit;
        color: var(--accent);
    }
}