#article {
    width: 100%;

    .ql-code-block-container {
        background-color: var(--codeblock-bg-light);
        padding: 15px;
        border-radius: 10px;
        white-space: pre-wrap;
        font-family: monospace;
    }

    .ql-code-block-container .ql-ui {
        display: none;
    }

    .ql-align-right {
        text-align: right;
    }

    a {
        text-decoration: inherit;
        color: var(--accent-light);
    }

    .article-title {
        
    }

    .article-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .article-info {
        display: flex;
        gap: 10px;
        font-size: 0.95rem;
        font-weight: 300;
        font-style: italic;
        padding: 5px;
        background-color: var(--heading-bg-light);
        color: var(--bg-dark);
        /* text-transform: uppercase; */

        div {
            border-right: 1px solid var(--bg-dark);
            padding-right: 10px;
        }
    }
}