.intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;

    span {
        font-size: 2rem;
    }

    h1 {
        font-family: "Monoton", sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: 5rem;
        color: var(--accent);
        margin-top: 0px;
        margin-bottom: 0px;
    }

    span.intro-description {
        max-width: 600px;
        font-size: 1.2rem;
        text-align: center;
    }
}

.blog-content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 2fr));
    gap: 15px;

    .content-right {
        padding: 10px;
    }
}

.blog-content-container :first-child {
    grid-column: span 3;
}

.article-card {
    border-bottom: 1px solid white;
    padding: 10px;
    margin-bottom: 15px;

    h2 {
        margin: 0;
        text-align: left;
        padding: 15px 0px;

        a {
            text-decoration: inherit;
            color: var(--accent);
        }
    }


    .article-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.article-card:hover {
    background-color: var(--bg-light);
}
