.blog-content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 2fr));
    gap: 20px;

    .content-right {

    }
}

.blog-content-container :first-child {
    grid-column: span 2;
}

.article-card {
    
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 5px;

    h2 {
        margin: 0;
        text-align: left;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 5px 0px;

        a {
            text-decoration: inherit;
            color: var(--accent);
        }
    }

    .article-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .article-topic {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 14px;
        background-color: var(--heading-bg-light);
        color: var(--bg-dark);
        padding: 3px;
        letter-spacing: 1px;
        display: inline-block;
        margin-bottom: 15px;
    }

    .article-excerpt {
        text-align: justify;
    }
}

.article-card:hover {
    background-color: var(--hover-bg-light);
}
