@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-light: #333533 ;
    --bg: #252422;
    --bg-dark: #000;
    --text: #fffcf2;
    --text-dark: #ccc5b9;
    --accent: #2098D1;
    --accent-light: #6abde4;
    --heading-bg-light: rgba(255, 255, 255, 0.75);
    --accent-box-shadow: rgba(65, 158, 212, 0.45) 0px 0px 15px;
    --codeblock-bg-light: #17445a;
    --hover-bg-light: rgba(255, 255, 255, 0.1);
    font-family: 'Roboto';
    color-scheme: dark;
}

body {
    /* background-color: var(--bg-dark); */
    color: var(--text);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #4aa1d4;
    background: radial-gradient(circle,rgb(27, 58, 77) 0%, rgba(0, 0, 0, 1) 90%);
}

#blog-container {
    background: transparent;
    background-color: rgba(16, 81, 107, 0.1);
    backdrop-filter: blur(5px);
    --webkit-backdrop-filter: blur(15px);
    max-width: 1100px;
    margin: 30px;
    padding: 25px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--accent-box-shadow);
}


#hero-section {
    background-image: url('/media/images/wp15555932.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 50vh; 
    width: 100%;
    position: relative; 
    border-bottom: 1px solid white;
    /* box-shadow: rgba(96, 176, 252, 0.35) 0px 5px 15px; */
    overflow: hidden;
}

#hero-logo {
    position: absolute;
    left: 16vw;
    top: 35%;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;

    #logo-main {
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 2px;
        font-weight: 400;
    }

    #logo-sub {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 100;
        font-style: bold;
        margin-top: -10px;
    }
}

nav {
    width: 100vw;
    margin-top: 15px;

    #blog-navbar {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1300px;
        width: 100%;
        margin: 0px 20px;
    }

    a {
        text-decoration: inherit;
        color: white;
        padding: 15px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px;
    }

    #nav-search {
        display: flex;
        align-items: center;
        border: 1px solid white;
        border-radius: 20px;
        padding-left: 10px;
        background: transparent;
        backdrop-filter: blur(15px);
        --webkit-backdrop-filter: blur(15px);

        svg {
            height: 20px;
        }
        
        input {
            background: transparent;
            padding: 8px;
            min-width: 250px;
            color: var(--text);
            border: none;
            text-transform: uppercase;
            font-weight: 100;
            letter-spacing: 1px;
        }

        input:focus, 
        input:focus-visible, 
        input:focus-within {
            border: none;
            outline: none;
            
        }
        
        input::placeholder {
            color: white;
            font-family: 'roboto';
            text-transform: uppercase;
            font-weight: 200;
            letter-spacing: 1px;
        }
    }

    #nav-search:focus-within {
        box-shadow: rgba(50, 140, 192, 0.45) 0px 0px 15px;
        border: 1px solid var(--accent-light);

        svg {
            color: var(--accent-light);
        }
    }

    #nav-search {
        position: relative;

        .search-result-container {
            position: absolute;
            overflow-y: auto;
            top: 100%;
            left: 4%;
            width: 92%;

            #nav-search-results {
                list-style-type: none;
                margin: 0;
                padding: 0;
                border: 1px solid var(--accent-light);
                display: none;
                
                li {
                    padding: 5px;
                    border-bottom: 1px solid var(--accent-light);
                    background-color: rgba(16, 81, 107, 0.7);
                    font-weight: 200;
                }

                li:last-child {
                    border-bottom: none;
                }

                li:hover {
                    cursor: pointer;
                    background-color: var(--codeblock-bg-light);
                }
            }

            #nav-search-results.visible {
                display: block;
            }
        }
    }
}

/* Shutter Out Vertical */
/* Effect from: https://github.com/IanLunn/Hover */
.hvr-shutter-out-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-shutter-out-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--accent);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
    color: white;
}

.hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.button {
    background: none;
    border: none;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    padding: 10px;
    line-height: 1.15rem;
    border: 1px solid white;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;

    a {
        color: var(--text) !important;
    }
}

.button.delete:hover {
    background-color: indianred;
}

.button:hover {
    cursor: pointer;
}

.content-heading {
    background-color: var(--heading-bg-light);
    backdrop-filter: blur(2px);
    color: var(--bg-dark);
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
}