label {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}

input, select, textarea {
    background: transparent;
    border: 1px solid white;
    padding: 5px;
    color: var(--text);
    font-size: 1rem;
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: var(--accent-box-shadow);
    outline: 0;
    border: 1px solid var(--accent);
}

select > option {
    background-color: var(--codeblock-bg-light);
    color: white;
    font-weight: 100;
}

#editor-container {
    .ql-toolbar {
        position: sticky;
        background-color: var(--codeblock-bg-light);
        backdrop-filter: blur(15px);
        top: 0;
        z-index: 1000;
    }

    .ql-toolbar .ql-stroke {
        stroke: var(--text) !important;
    }

    .ql-toolbar .ql-fill {
        fill: var(--text) !important;
    }

    .ql-toolbar .ql-picker {
        color: var(--text) !important;
    }

    .ql-picker-label:hover {
        color: var(--accent) !important;
    }

    .ql-picker .ql-active {
        color: var(--accent) !important;
    }

    button:hover .ql-stroke,
    .ql-picker-label:hover .ql-stroke {
        stroke: var(--accent) !important;
    }

    .ql-active .ql-stroke {
        stroke: var(--accent) !important;
    }

    button:hover .ql-fill,
    .ql-picker-label:hover .ql-fill {
        fill: var(--accent) !important;
    }

    .ql-active .ql-fill {
        fill: var(--accent) !important;
    }

    .ql-picker-options {
        background: var(--bg);
    }

    .ql-picker-item:hover,
    .ql-selected {
        color: var(--accent) !important;
    }
}

#editor {
    font-family: 'roboto' !important;
    

    p, ul, ol, blockquote {
        font-size: 1rem;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    .ql-code-block-container {
        background-color: var(--codeblock-bg-light) !important;
    }
}

#editor-container {
    width: 100%;

    .editor-heading {
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
        background-color: var(--heading-bg-light);
        padding: 5px;
        color: var(--bg-dark);
    }
}

#article-form {
    .article-form-field {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100px, 100%), 1fr));
        align-items: center;
        gap: 15px;
        margin-bottom: 10px;

        .article-input {
            display: flex;
            align-items: center;
            box-sizing: border-box;

            .button {
                margin-left: 10px;
                line-height: 10px;
            }
        }

        .article-input :first-child {
            flex-grow: 1;
        }
        
    }

    .article-form-field :nth-child(2) {
        grid-column: span 6;
    }

    .form-footer {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        margin-top: 10px;

        #article-save-status {
            font-size: 0.95rem;
            font-style: italic;
            padding: 10px;
        }

        .form-footer-left {
            display: flex;
            gap: 5px;
            align-items: center;
            a {
                text-decoration: inherit;
            }
        }
    }    
}

#delete-dialog {
    background: transparent;
    backdrop-filter: blur(20px);
    outline-color: var(--accent);
    box-shadow: var(--accent-box-shadow);
    border: 3px solid indianred;
    padding: 30px 50px;
    text-align: center;
    
    h2 {
        margin: 0;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        background-color: indianred;
        color: var(--bg-dark);
        padding: 5px;
    }

    .dialog-buttons {
        display: flex;
        justify-content: space-between;
    }
    
    button[type="submit"]:hover {
        background-color: indianred;
        color: var(--text);
    }
}

#add-topic-dialog {
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: var(--accent-box-shadow);
    
    h2 {
        margin: 0;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        background-color: var(--heading-bg-light);
        color: var(--bg-dark);
        padding: 5px;
        text-align: center;
    }

    #add-topic-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        div {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 5px;
        }

        input:focus,
        textarea:focus {
            border: 1px solid var(--accent-light);
        }
    }

}