#editor-container {
    min-width: 500px;
    max-width: 900px;

    .ql-toolbar {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: var(--bg);
    }

    .ql-toolbar .ql-stroke {
        stroke: var(--text) !important;
    }

    .ql-toolbar .ql-fill {
        fill: var(--text) !important;
    }

    .ql-toolbar .ql-picker {
        color: var(--text) !important;
    }

    .ql-picker-label:hover {
        color: var(--accent) !important;
    }

    .ql-picker .ql-active {
        color: var(--accent) !important;
    }

    button:hover .ql-stroke,
    .ql-picker-label:hover .ql-stroke {
        stroke: var(--accent) !important;
    }

    .ql-active .ql-stroke {
        stroke: var(--accent) !important;
    }

    button:hover .ql-fill,
    .ql-picker-label:hover .ql-fill {
        fill: var(--accent) !important;
    }

    .ql-active .ql-fill {
        fill: var(--accent) !important;
    }

    .ql-picker-options {
        background: var(--bg);
    }

    .ql-picker-item:hover,
    .ql-selected {
        color: var(--accent) !important;
    }
}

#editor {
    font-family: 'roboto' !important;
}