@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-light: #252422;
    --bg: #333533;
    --text: #fffcf2;
    --text-dark: #ccc5b9;
    --accent: #eb5e28;
    font-family: 'Roboto';
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    margin: 0 auto;
    background-color: var(--bg-light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

    a {
        text-decoration: inherit;
        color: var(--text);
        padding: 15px;
    }

    a:hover {
        background-color: var(--accent);
        color: var(--text);
        border-radius: 5px;
    }
}

body {
    margin-top: 75px;
    background-color: var(--bg);
    color: white;
}

.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}