{% extends 'blog/layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github-dark.css">
    <link href="{% static 'blog/css/article.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<article id="article">
    <h1 class="article-title">{{ article.title }}</h1>
    <a href="{% url 'blog:edit' article.slug %}">Edit</a>
    <div class="article-content">{{ article.content | safe }}</div>
    <div class="author">{{ article.author.name }}</div>
</article>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
{% endblock %}