{% extends 'blog/layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github-dark.css">
    <link href="{% static 'blog/css/article.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<article id="article">
    <div class="article-heading">
        <h1 class="article-title">{{ article.title }}</h1>
        <span class="button hvr-shutter-out-vertical"><a href="{% url 'blog:edit' article.slug %}">Edit</a></span>
    </div>
    <div class="article-info">
        <div class="article-date">Published: {{ article.published_at|date:"F j, Y" }}</div>
        <div class="article-date">Updated: {{ article.updated_at|date:"F j, Y" }}</div>
        <div class="author">Author: {{ article.author.first_name }}</div>
    </div>
    <div class="article-content">{{ article.content | safe }}</div>
</article>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
{% endblock %}