{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% block header %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Ratnesh's Blog{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'blog/css/layout.css' %}">
        {% block css %}{% endblock %}
    </head>
    {% endblock %}

    
    <body>
        {% block nav %}
        <nav>
            <div id="blog-navbar">
                <div class="wave">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div id="nav-container">
                    <div id="nav-links">
                        <a href="{% url 'blog:index' %}">Home</a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'blog:dashboard' %}">Dashboard</a>
                        {% endif %}
                    </div>
                    <div id="nav-logo">
                        <span>DEV  BLOG</span>
                        {% comment %} <div class="subheading">DEV BLOG</div> {% endcomment %}
                    </div>
                </div>
            </div>
        </nav>
        {% endblock  %}
        {% block hero %}
        <div id="hero-section">
            {% comment %} <div class="subheading">RATNESH'S</div> {% endcomment %}
        </div>
        {% endblock %}
        <main id="blog-container">
            {% block body %}
            {% endblock %}
        </main>
        {% block footer %}
        {% endblock %}
        {% block script %}
        {% endblock %}
    </body>
</html>