{% load static %}

<div class="sidebar-content">
    <section>
        <h2 class="content-heading">About Me</h2>
        <div class="about-me-card">
            <p>I'm a self-taught developer. I like computers, puzzles, building things, working out, and a little bit of reading and writing.</p>
            <p>I hope you have a good time here. Hit me up for a chat if there's something you want to talk about.</p>
        </div>
    </section>

    {% if sidebar.top_articles %}
    <section>
        <h2 class="content-heading">Popular Articles</h2>
        <div class="popular-article-card">
            {% for article in sidebar.top_articles %}
                <a class="sidebar-row" href="{% url "blog:articles" article.slug %}">
                    {{ article.title }}
                </a>
            {% endfor %}
        </div>
    </section>
    {% endif %}

    {% if sidebar.topics %}
    <section>
        <h2 class="content-heading">Topics</h2>
        <div class="topics-card">
            {% for topic in sidebar.topics %}
                <a class="topics-card-row sidebar-row" href="{% url "blog:topic" topic.slug %}">
                    <span>{{ topic.name }}</span>
                    <span>{{ topic.article_count }}</span>
                </a>
            {% endfor %}
        </div>
    </section>
    {% endif %}
</div>