{% extends 'blog/layout.html' %}
{% load static %}

{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
    <link href="{% static 'blog/css/write.css' %}" rel="stylesheet">
{% endblock %}

{% block body%}
<div id="editor-container">
        <input type="text" id="title">
        <div id="editor"></div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script src="{% static 'blog/js/write.js' %}"></script>
{% endblock %}