{% extends 'blog/layout.html' %}
{% load static %}

{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github-dark.css">
    <link href="{% static 'blog/css/write.css' %}" rel="stylesheet">
{% endblock %}

{% block body%}
    <div id="editor-container">
        <h2 class="editor-heading">{{ is_edit|yesno:"Edit Article,Write A New Article" }}</h2>
        <form method="post" id="article-form" data-article-id="{{ article_id }}">
            {% csrf_token %}
            {% for field in form %}
                <div class="article-form-field">
                    {% if not field.is_hidden %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {% endif %}
                    {{ field }}
                </div>
            {% endfor %}
            <div id="editor">
            </div>
            
            <div class="form-footer">
                <span class="button delete" onclick="document.getElementById('delete-dialog').showModal()">
                    {% if form.status.value == STATUS.PUBLISHED %}
                    Delete Article
                    {% else %}
                    Delete Draft
                    {% endif %}
                </span>
                <div>
                    <span id="save-article" class="button hvr-shutter-out-vertical">Save</span>
                    <button type="submit" class="button hvr-shutter-out-vertical">{{ is_edit|yesno:"Update Article,Publish Article" }}</button>
                </div>
            </div>
        </form>
    </div>
    <dialog id="delete-dialog">
        <form action="{% url "blog:article_delete" article_id %}" method="post">
            {% csrf_token %}
            <h2>Confirm Deletion</h2>
            <p>Are you sure you want to delete "{{ form.title.value }}"</p>
            <p>This action cannot be undone.</p>

            <div class="dialog-buttons">
                <span class="button" onclick="document.getElementById('delete-dialog').close()">
                    Cancel
                </span>
                <button type="submit" class="button">
                    Delete
                </button>
            </div>
        </form>
    </dialog>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script src="{% static 'blog/js/write.js' %}"></script>
{% endblock %}