{% extends 'blog/layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    {% endblock %}
    
    {% block body%}
    <form action="{% url 'blog:write' %}" method="post" class="article-form">
        <input type="text" name="Title" id="form-title">
        <textarea name="blog-editor" id="editor">Write article here...</textarea>
    </form>
    {% endblock %}
    
    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <script src="{% static 'blog/js/write.js' %}"></script>
{% endblock %}